# Proyecto 3

**Tema:** Resultados Saber 11



|     Nombres      |      Apellidos       |     Login     |  Codigo   |
| :--------------: | :------------------: | :-----------: | :-------: |
|     Santiago     | Gonzalez Montealegre | s.gonzalez35  | 202012274 |
| Juliana Carolina |  Cardenas Barragan   | jc.cardenasb1 | 202011683 |

## Librerías Requeridas

In [64]:
import numpy as np
import pandas as pd
import seaborn as sns

## Carga de Datos

In [2]:
df = pd.read_csv('../Data/Transformados3.csv')

In [3]:
df.head()

,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_naturaleza,cole_genero,cole_jornada,cole_cod_depto_ubicacion,cole_cod_mcpio_ubicacion,estu_cod_depto_presentacion,estu_cod_mcpio_presentacion,estu_cod_reside_depto,estu_cod_reside_mcpio,estu_genero,fami_estratovivienda,fami_educacionmadre,fami_educacionpadre,fami_personashogar,fami_tienecomputador,fami_tieneinternet,punt_global
0,URBANO,N,A,OFICIAL,MIXTO,MAÑANA,13,13001,13,13001,13,13001,F,Estrato 1,Secundaria (Bachillerato) incompleta,Primaria incompleta,Siete,Si,Si,205
1,URBANO,N,A,OFICIAL,MIXTO,MAÑANA,70,70523,70,70001,70,70523,F,Estrato 1,Primaria completa,Primaria completa,5 a 6,No,No,187
2,URBANO,N,A,OFICIAL,MIXTO,MAÑANA,70,70523,70,70001,70,70523,F,Estrato 1,Primaria completa,Primaria completa,5 a 6,No,No,187
3,RURAL,N,A,NO OFICIAL,MASCULINO,COMPLETA,11,11001,11,11001,11,11001,F,Estrato 4,Educación profesional completa,Postgrado,Cuatro,Si,Si,313
4,URBANO,N,A,OFICIAL,MIXTO,MAÑANA,25,25899,25,25899,25,25899,F,Estrato 1,Primaria incompleta,Primaria incompleta,7 a 8,Si,Si,201

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3295965 entries, 0 to 3295964
Data columns (total 20 columns):
 #   Column                       Dtype
---  ------                       -----
 0   cole_area_ubicacion          object
 1   cole_bilingue                object
 2   cole_calendario              object
 3   cole_naturaleza              object
 4   cole_genero                  object
 5   cole_jornada                 object
 6   cole_cod_depto_ubicacion     int64
 7   cole_cod_mcpio_ubicacion     int64
 8   estu_cod_depto_presentacion  int64
 9   estu_cod_mcpio_presentacion  int64
 10  estu_cod_reside_depto        int64
 11  estu_cod_reside_mcpio        int64
 12  estu_genero                  object
 13  fami_estratovivienda         object
 14  fami_educacionmadre          object
 15  fami_educacionpadre          object
 16  fami_personashogar           object
 17  fami_tienecomputador         object
 18  fami_tieneinternet           object
 19  punt_global                  int64
dtypes: int64(7), object(13)
memory usage: 502.9+ MB

## Discretización

In [92]:
df['fami_tieneinternet'].unique()
# len(df['cole_cod_mcpio_ubicacion'].unique())
# df['cole_bilingue'].unique()
# df['colegio_bilingue'].unique()
# df['colegio_calendario'].unique()
# df['colegio_privado'].unique()
# df['colegio_genero'].unique()
# df['familia_estrato'].unique()

array(['Si', 'No'], dtype=object)

In [93]:
# ----------------------------
# Colegio Rural
# ----------------------------

df['colegio_rural'] = 0
df.loc[df['cole_area_ubicacion'] == 'URBANO', 'colegio_rural'] = 0
df.loc[df['cole_area_ubicacion'] == 'RURAL', 'colegio_rural'] = 1

# ----------------------------
# Colegio Bilingue
# ----------------------------

df['colegio_bilingue'] = 0
df.loc[df['cole_bilingue'] == 'N', 'colegio_bilingue'] = 0
df.loc[df['cole_bilingue'] == 'S', 'colegio_bilingue'] = 1

# ----------------------------
# Colegio Calendario
# ----------------------------

df['colegio_calendario'] = 1
df.loc[df['cole_calendario'] == 'A', 'colegio_calendario'] = 1
df.loc[df['cole_calendario'] == 'B', 'colegio_calendario'] = 2
df.loc[df['cole_calendario'] == 'OTRO', 'colegio_calendario'] = 3

# ----------------------------
# Colegio Privado
# ----------------------------

df['colegio_privado'] = 0
df.loc[df['cole_naturaleza'] == 'OFICIAL', 'colegio_privado'] = 0
df.loc[df['cole_naturaleza'] == 'NO OFICIAL', 'colegio_privado'] = 1

# ----------------------------
# Colegio Genero
# ----------------------------

df['colegio_genero'] = 1
df.loc[df['cole_genero'] == 'MIXTO', 'colegio_genero'] = 1
df.loc[df['cole_genero'] == 'MASCULINO', 'colegio_genero'] = 2
df.loc[df['cole_genero'] == 'FEMENINO', 'colegio_genero'] = 3

# ----------------------------
# Colegio Jornada
# ----------------------------

df['colegio_jornada'] = 1
df.loc[df['cole_jornada'] == 'UNICA', 'colegio_jornada'] = 1
df.loc[df['cole_jornada'] == 'MAÑANA', 'colegio_jornada'] = 2
df.loc[df['cole_jornada'] == 'TARDE', 'colegio_jornada'] = 3
df.loc[df['cole_jornada'] == 'NOCHE', 'colegio_jornada'] = 4
df.loc[df['cole_jornada'] == 'COMPLETA', 'colegio_jornada'] = 5
df.loc[df['cole_jornada'] == 'SABATINA', 'colegio_jornada'] = 6

# ----------------------------
# Estudiante Genero
# ----------------------------

df['estudiante_genero'] = 0
df.loc[df['estu_genero'] == 'F', 'estudiante_genero'] = 0
df.loc[df['estu_genero'] == 'M', 'estudiante_genero'] = 1

# ----------------------------
# Colegio Jornada
# ----------------------------

df['familia_estrato'] = 1
df.loc[df['fami_estratovivienda'] == 'Estrato 1', 'familia_estrato'] = 1
df.loc[df['fami_estratovivienda'] == 'Estrato 2', 'familia_estrato'] = 2
df.loc[df['fami_estratovivienda'] == 'Estrato 3', 'familia_estrato'] = 3
df.loc[df['fami_estratovivienda'] == 'Estrato 4', 'familia_estrato'] = 4
df.loc[df['fami_estratovivienda'] == 'Estrato 5', 'familia_estrato'] = 5
df.loc[df['fami_estratovivienda'] == 'Estrato 6', 'familia_estrato'] = 6

# ----------------------------
# Madre Educacion
# ----------------------------

df['madre_educacion'] = 1
df.loc[df['fami_educacionmadre'] == 'Ninguno', 'madre_educacion'] = 1
df.loc[df['fami_educacionmadre'] == 'Primaria incompleta', 'madre_educacion'] = 2
df.loc[df['fami_educacionmadre'] == 'Primaria completa', 'madre_educacion'] = 3
df.loc[df['fami_educacionmadre'] == 'Secundaria (Bachillerato) incompleta', 'madre_educacion'] = 4
df.loc[df['fami_educacionmadre'] == 'Secundaria (Bachillerato) completa', 'madre_educacion'] = 5
df.loc[df['fami_educacionmadre'] == 'Técnica o tecnológica incompleta', 'madre_educacion'] = 6
df.loc[df['fami_educacionmadre'] == 'Técnica o tecnológica completa', 'madre_educacion'] = 7
df.loc[df['fami_educacionmadre'] == 'Educación profesional incompleta', 'madre_educacion'] = 8
df.loc[df['fami_educacionmadre'] == 'Educación profesional completa', 'madre_educacion'] = 9
df.loc[df['fami_educacionmadre'] == 'Postgrado', 'madre_educacion'] = 10

# ----------------------------
# Padre Educacion
# ----------------------------

df['padre_educacion'] = 1
df.loc[df['fami_educacionpadre'] == 'Ninguno', 'padre_educacion'] = 1
df.loc[df['fami_educacionpadre'] == 'Primaria incompleta', 'padre_educacion'] = 2
df.loc[df['fami_educacionpadre'] == 'Primaria completa', 'padre_educacion'] = 3
df.loc[df['fami_educacionpadre'] == 'Secundaria (Bachillerato) incompleta', 'padre_educacion'] = 4
df.loc[df['fami_educacionpadre'] == 'Secundaria (Bachillerato) completa', 'padre_educacion'] = 5
df.loc[df['fami_educacionpadre'] == 'Técnica o tecnológica incompleta', 'padre_educacion'] = 6
df.loc[df['fami_educacionpadre'] == 'Técnica o tecnológica completa', 'padre_educacion'] = 7
df.loc[df['fami_educacionpadre'] == 'Educación profesional incompleta', 'padre_educacion'] = 8
df.loc[df['fami_educacionpadre'] == 'Educación profesional completa', 'padre_educacion'] = 9
df.loc[df['fami_educacionpadre'] == 'Postgrado', 'padre_educacion'] = 10

# ----------------------------
# Computador
# ----------------------------

df['computador'] = 0
df.loc[df['fami_tienecomputador'] == 'No', 'computador'] = 0
df.loc[df['fami_tienecomputador'] == 'Si', 'computador'] = 1

# ----------------------------
# Internet
# ----------------------------

df['internet'] = 0
df.loc[df['fami_tieneinternet'] == 'No', 'internet'] = 0
df.loc[df['fami_tieneinternet'] == 'Si', 'internet'] = 1

# ----------------------------
# Drop Columns
# ----------------------------
# df.drop(['cole_area_ubicacion'], axis=1, inplace=True)
# df.drop(['cole_bilingue'], axis=1, inplace=True)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3295965 entries, 0 to 3295964
Data columns (total 28 columns):
 #   Column                       Dtype
---  ------                       -----
 0   cole_area_ubicacion          object
 1   cole_bilingue                object
 2   cole_calendario              object
 3   cole_naturaleza              object
 4   cole_genero                  object
 5   cole_jornada                 object
 6   cole_cod_depto_ubicacion     int64
 7   cole_cod_mcpio_ubicacion     int64
 8   estu_cod_depto_presentacion  int64
 9   estu_cod_mcpio_presentacion  int64
 10  estu_cod_reside_depto        int64
 11  estu_cod_reside_mcpio        int64
 12  estu_genero                  object
 13  fami_estratovivienda         object
 14  fami_educacionmadre          object
 15  fami_educacionpadre          object
 16  fami_personashogar           object
 17  fami_tienecomputador         object
 18  fami_tieneinternet           object
 19  punt_global                  int64
 20  colegio_rural                int64
 21  colegio_bilingue             int64
 22  colegio_colegio_bilingue     float64
 23  colegio_calendario           int64
 24  colegio_privado              int64
 25  colegio_genero               int64
 26  colegio_jornada              int64
 27  estudiante_genero            int64
dtypes: float64(1), int64(14), object(13)
memory usage: 704.1+ MB