# Proyecto 3

**Tema:** Resultados Saber 11


|     Nombres      |      Apellidos       |     Login     |  Codigo   |
| :--------------: | :------------------: | :-----------: | :-------: |
|     Santiago     | Gonzalez Montealegre | s.gonzalez35  | 202012274 |
| Juliana Carolina |  Cardenas Barragan   | jc.cardenasb1 | 202011683 |

## Medidas de Desempeño - Estructura - Puntajes - BIC

## K-Fold Cross Validation

## Librerías Requeridas

In [1]:
import pandas as pd
from pgmpy.estimators import HillClimbSearch
from pgmpy.estimators import BicScore
from pgmpy.models import BayesianNetwork
from pgmpy.estimators import MaximumLikelihoodEstimator
from pgmpy.inference import VariableElimination
from sklearn.model_selection import KFold
import matplotlib.pyplot as plt

## Carga de Datos

In [3]:
df = pd.read_csv("../../Data/Transformed/Discrete.csv")

In [4]:
df.head()

,colegio_rural,colegio_bilingue,colegio_calendario,colegio_privado,colegio_genero,colegio_jornada,estudiante_genero,familia_estrato,madre_educacion,padre_educacion,computador,internet,puntaje,colegio_mcpio_distinto,presentacion_mcpio_distinto
0,0,0,1,0,1,2,0,1,4,2,1,1,5,0,0
1,0,0,1,0,1,2,0,1,3,3,0,0,4,0,1
2,0,0,1,0,1,2,0,1,3,3,0,0,4,0,1
3,1,0,1,1,2,5,0,4,9,10,1,1,7,0,0
4,0,0,1,0,1,2,0,1,2,2,1,1,5,0,0