# Proyecto 3

**Tema:** Resultados Saber 11



|     Nombres      |      Apellidos       |     Login     |  Codigo   |
| :--------------: | :------------------: | :-----------: | :-------: |
|     Santiago     | Gonzalez Montealegre | s.gonzalez35  | 202012274 |
| Juliana Carolina |  Cardenas Barragan   | jc.cardenasb1 | 202011683 |

## Librerías Requeridas

In [1]:
import pandas as pd

## Carga de Datos

In [2]:
original = pd.read_csv('../../Data/Transformed/Clean.csv')

## Transformación

In [7]:
df = original.groupby('cole_area_ubicacion').agg(punt_promedio = ('punt_global', 'mean')).reset_index()

In [8]:
df.head()

  cole_area_ubicacion  punt_promedio
0               RURAL     238.869597
1              URBANO     257.868857

## Creación Script Base de Datos

In [11]:
sql_script = """
CREATE TABLE promedio_zona (
    zona VARCHAR(255),
    punt_promedio NUMBER
);
"""

In [12]:
sql_script += 'INSERT INTO promedio_zona (zona, punt_promedio) VALUES\n'

values = []
for i, row in df.iterrows():
    value = f"({row['cole_area_ubicacion']}, {float(row['punt_promedio'])})"
    # value = f"({int(row['age'])}, {int(row['sex'])}, {int(row['cp'])}, {int(row['trestbps'])}, {int(row['chol'])}, {int(row['fbs'])}, {int(row['restecg'])}, {int(row['thalach'])}, {int(row['exang'])}, {row['oldpeak']}, {int(row['slope'])}, {int(row['ca'])}, {int(row['thal'])}, {int(row['heartdis'])})"
    values.append(value)
    
sql_script += ',\n'.join(values) + ';'

## Guardar Script

In [13]:
with open("../../Data/Scripts/Zona_Script.sql", "w") as sql_file:
    sql_file.write(sql_script)